<!-- profile.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        /* Inline CSS for font and icon styles */
        @font-face {
            font-family: 'Material Icons';
            font-style: normal;
            font-weight: 400;
            src: url(data:application/x-font-woff;charset=utf-8;base64,d09GRgABAAAAA...); /* Base64-encoded font file */
        }

        /* General styles */
        body {
            font-family: 'Times New Roman', Times, serif;
            background-color: #f6f5f5;
            margin: 0;
            padding: 0;
            color: #3B3A30;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .navbar {
            background-color: #304034;
            color: #FFFFFF;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 20px;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 1000;
        }

        .navbar-brand {
            font-size: 24px;
            font-weight: bold;
            text-decoration: none;
            color: #FFFFFF;
        }

        .navbar-nav {
            display: flex;
            list-style-type: none;
            margin: 0;
            padding: 0;
            margin-right: 35px;
        }

        .navbar-nav li {
            margin-right: 20px;
        }

        .navbar-nav li:last-child {
            margin-right: 0;
        }

        .navbar-nav li a {
            text-decoration: none;
            color: #FFFFFF;
            font-size: 18px;
            padding: 10px;
            transition: all 0.3s ease;
        }

        .navbar-nav li a:hover {
            text-decoration: underline;
        }

        /* Container styles */
        .container {
            width: 100%;
            max-width: 600px;
            padding: 20px;
            background-color: #FFFFFF;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            text-align: center;
            margin-top: 100px;
        }

        .container h1 {
            font-size: 32px;
            font-weight: bold;
            margin-bottom: 20px;
            color: #2F3136;
        }

        .container p {
            font-size: 18px;
            margin-bottom: 20px;
            color: #2F3136;
        }

        .container h2 {
            font-size: 20px;
            margin-bottom: 15px;
            color: #2F3136;
        }

        .container form {
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: #304034;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            color: #F5F3EE;
            margin-bottom: 20px; /* Add margin-bottom to separate forms */
        }

        .container label {
            font-size: 18px;
            margin-bottom: 5px;
            color: #F5F3EE;
            text-align: left;
            width: 100%;
            max-width: 300px; /* Adjust as needed */
        }

        .container input[type="text"],
        .container input[type="email"],
        .container input[type="password"],
        .container button {
            width: 100%;
            max-width: 300px; /* Adjust as needed */
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #F5F3EE;
            border-radius: 5px;
            background-color: #304034;
            color: #F5F3EE;
            box-sizing: border-box;
        }

        .container input[type="text"]::placeholder,
        .container input[type="email"]::placeholder,
        .container input[type="password"]::placeholder {
            color: #F5F3EE;
        }

        .container button {
            cursor: pointer;
            background-color: #F5F3EE;
            color: #304034;
            font-weight: bold;
            border: none;
            transition: background-color 0.3s, color 0.3s;
        }

        .container button:hover {
            background-color: #e0ded9;
        }

        .container a {
            display: inline-block;
            margin-top: 20px;
            font-size: 18px;
            text-decoration: none;
            color: #4c4c4c;
        }

        .container a:hover {
            text-decoration: underline;
        }

        /* Responsive adjustments */
        @media (max-width: 1024px) {
            .container {
                margin-left: 20px;
                margin-right: 20px;
            }
        }

        @media (max-width: 768px) {
            .container {
                max-width: 600px;
            }
        }

        @media (max-width: 480px) {
            .navbar {
                padding: 10px;
            }

            .container {
                margin-top: 60px;
                margin-left: 20px;
                margin-right: 20px;
            }

            .container label {
                text-align: left;
                width: 100%;
                max-width: 250px; /* Adjust as needed */
            }

            .container input[type="text"],
            .container input[type="email"],
            .container input[type="password"],
            .container button {
                max-width: 250px; /* Adjust as needed */
            }
        }
    </style>
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <title>Profile page</title>
</head>
<body>
    <div class="navbar">
        <a href="/" class="navbar-brand">Fooodiz</a>
        <ul class="navbar-nav">
            <li><a href="/explore">Home</a></li>
            <li><a href="/favorites">Favorite Recipes</a></li>
            <li><a href="/profile">Profile</a></li>
        </ul>
    </div>
    <div class="container">
        <h1>Welcome, <%= user.username %></h1>
        <p>Email: <%= user.email %></p>
        <h2>Update Profile</h2>
        <form action="/profile/update" method="POST">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" value="<%= user.username %>" required autocomplete="username">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" value="<%= user.email %>" required autocomplete="email">
            <button type="submit">Update Profile</button>
        </form>
        <h2>Change Password</h2>
        <form action="/profile/change-password" method="POST">
            <label for="currentPassword">Current Password:</label>
            <input type="password" id="currentPassword" name="currentPassword" required autocomplete="current-password">
            <label for="newPassword">New Password:</label>
            <input type="password" id="newPassword" name="newPassword" required autocomplete="new-password">
            <button type="submit">Change Password</button>
        </form>
        <h3><a href="/">Log out</a></h3>
    </div>
</body>
</html>
