<!-- results -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Recipe Results</title>
</head>
<body>
    <div class="container">
        <h1>Search Results</h1>
        <% if (recipes && recipes.length > 0) { %>
        <ul>
            <% recipes.forEach(recipe => { %>
                <li>
                    <a href="/recipe/<%= recipe.id %>">
                        <div class="recipe-card">
                            <img class="recipe-image" src="<%= recipe.image %>" alt="<%= recipe.title %>"/>
                            <h2 class="recipe-title"><%= recipe.title %></h2>
                        </div>
                    </a>
                </li>
            <% }); %>
        </ul>
    <% } else {
        <p>No recipes found. Please try another search.</p>
    <% } %>
        <a href="/">Back to the Home Page</a>
    </div>
</body>
</html>
